@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

.card {
    font-family: 'Poppins', 'san-serif';
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(161, 165, 167, 0.267);
    box-shadow: 0 5px 10px rgba(2, 2, 2, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    animation: shake 0.5s ease-out;
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }

img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.name {
    margin-top: 5px;
    margin-bottom: 3px;
}

.track {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
}

#day, #utcTime {
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(205, 209, 208);
}

a {
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: rgb(0, 0, 255);
}